{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container-md">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Room number</th>
            <th scope="col">Room type</th>
            <th scope="col">Floor</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{room.id}}</th>
            <td>{{room.room_number}}</td>
            <td>{{room.room_type}}</td>
            <td>{{room.floor}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <a  href=/reservations/>{% bootstrap_button "Back" button_type="submit" button_class="btn-secondary" %}</a>

</div>
