{% extends 'base.html' %}
{% block content %}


<style>
    .card img {
       height: 20rem;
       object-fit: cover;
}
</style>


<h1>Books</h1>
<div class="container-md">
    {% if books_list %}
    <div class="container">
        <div class="row justify-content-center">
            {% for b in books_list %}
            <div class="col-md-3">
                <div class="card" style="hight: 18rem;">
                    <img class="card-img-top"
                         src="{{b.image.url}}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">  <a href="{% url 'get_book' b.id %}" class="card-link">{{b.name}}</a></h5>
                        <p class="card-text">{{b.description|truncatechars:100}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Author: {{b.author}}</li>
                        <li class="list-group-item">Published: {{b.published}}</li>
                        <li class="list-group-item">Publisher: {{b.publisher}}</li>
                    </ul>
                    <div class="card-body">
                        <button  onclick="location.href='{% url 'reserve_book' b.id %}'" id="submit" name="submit" class="btn btn-primary ">Reserve</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--pagination-->
    {{books_list}}
    {%if books_list.has_previous %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{ books_list.previous_page_number }}">Previous</a>
    {% endif %}
    {% if books_list.has_next %}
    <a href="?page={{ books_list.next_page_number }}">Next</a>
    <a href="?page={{books_list.paginator.num_pages }}">Last &raquo</a>
    {% endif %}
    {% else %}
    <p>No books are available.</p>
    {% endif %}
    <!--end pagination   -->
</div>

{% endblock content %}