{% extends 'base.html' %}

{% block content %}


<style>
     body {
    background: #f6f9fc;
}
.account-block {
    padding: 0;
    background-image: url(/images/login.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}
.text-theme {
    color: #5369f8 !important;
}
.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}
 </style>

<!--<div class="container py-5">-->
<!--    <h1>Login</h1>-->
<!--    <form action="/login/" method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p}}-->
<!--        <button class="btn btn-primary" type="submit">Login</button>-->
<!--    </form>-->
<!--    <p class="text-left">Don't have an account? <a href="/login">Register</a></p>-->
<!--</div>-->

<!--login-->
<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Login</h3>
                                </div>
                                <h6 class="h5 mb-0">Just Do Login.</h6>
                                <p class="text-muted mt-2 mb-5">If You Really Want To Know, Look In The Login.</p>
                                <form action="/login/" method="post">
                                       {% csrf_token %}
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" required/>
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" required/>
                                    </div>

                                    <button type="submit" class="btn btn-theme">Login</button>
                                </form>
                                <p class="text-muted text-center mt-3 mb-0">Don't have an account? <a href="{% url 'register'  %}" class="text-primary ml-1">register</a></p>

                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">This beautiful theme yours!</h4>
                                    <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                                    <p>- Admin User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
            <!-- end row -->
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>



{% endblock content %}