{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<style>
     body {
    background: #f6f9fc;
}

.account-block1 {
    padding: 0;
    background-image: url(/images/register.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block1 .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block1 .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #5369f8 !important;
}
.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}
 </style>

<!--&lt;!&ndash;Register&ndash;&gt;-->
<!--<div class="container py-5">-->
<!--	<h1>Register</h1>-->
<!--	<form method="POST">-->
<!--		{% csrf_token %}-->
<!--		{{ register_form|crispy }}-->
<!--		<button class="btn btn-primary" type="submit">Register</button>-->
<!--	</form>-->
<!--	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>-->
<!--</div>-->



<!--register-->
<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Register</h3>
                                </div>
                                <h6 class="h5 mb-0">Just Do Register.</h6>
                                <p class="text-muted mt-2 mb-5">If You Really Want To Know, Look In The Register.</p>
                                <form action="/register/" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="id_username">Username</label>
                                        <input type="text" class="textinput textInput form-control" id="id_username" name="username" required autofocus/>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_email">Email address</label>
                                        <input type="email" class="emailinput form-control" id="id_email" name="email" required/>
                                    </div>
                                    <div class="form-group ">
                                        <label for="id_password1">Password</label>
                                        <input type="password" autocomplete="new-password" class="textinput textInput form-control" id="id_password1" name="password1" required/>
                                    </div>
                                      <div class="form-group mb-5">
                                        <label for="id_password2">Password confirmation</label>
                                        <input type="password" class="textinput textInput form-control" autocomplete="new-password" id="id_password2" name="password2" required/>
                                    </div>
                                    <button type="submit" class="btn btn-theme">Register</button>
                                </form>
                                 <p class="text-muted text-center mt-3 mb-0">Already have an account? <a href="{% url 'login'  %}" class="text-primary ml-1">login</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block1 rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">This beautiful theme yours!</h4>
                                    <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                                    <p>- Admin User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>


{% endblock %}