{% extends 'base.html' %}
{% block content %}




<div class="container-md">
    {% if reservations %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Book</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">User</th>
            <th scope="col">DELETE</th>
        </tr>
        </thead>
        <tbody>
        {% for n in reservations %}
        <tr>
            <th scope="row">{{n.id}}</th>
            <td><a href=/reservations/edit/{{n.id}}/>{{n.book.name}}</a></td>
            <td>{{n.start_date}}</td>
            <td>{{n.end_date}}</td>
            <td>{{n.user}}</td>
            <td><a href=/reservations/delete/{{n.id}}/>DELETE</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>No reservations are available.</p>
    {% endif %}
</div>

<div class="d-flex justify-content-center">
    <a href="/reservations/add/">Add reservation</a>
</div>
{% endblock content %}